<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<img src="/no_es_una_carpeta_es_una_ruta_y_os_lo_he_explicado_5000000000_veces/83eb03f1a577625558f7bed086600bad.jpg" >

<form action="/mail" method="POST" enctype="multipart/form-data">
    <input type="text" name="destino" placeholder="xxx@xxx.com">
    <textarea name="mensaje" placeholder="Pon el texto que quieras"></textarea>
    <input type="file" name="foto">
    <button>Send the mail!!!</button>    
</form>
file:///Users/boyander/,,,,,,